/* alt-style.css */

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Playfair+Display&display=swap');

body {
	background-color: rgba(238,210,204);
	font-family: "Playfair Display", serif;
	font-size: 16px;
}

h2,
h4,
h5 {
	font-family: "Oswald", sans-serif;
	color: rgba(143,45,86);
}

h3{
	font-family: "Oswald", sans-serif;
	color: white;
}

h1{
	font-family: "Oswald", sans-serif;
	color: rgba(143,45,86);
	font-size: 38px;
}

a {
  color: rgba(143,45,86);
}

a:visited{
  color: rgba(34,49,39);
}

header {
	display: flex;
	justify-content: space-between;
	/* justify-content: space-around; */
}

header h1 {
	display: inline-block;
	margin-left: 40px;
}


nav{
	display:flex;
	margin-top: 45px;
	font-family: 'Oswald', sans-serif;
  font-size: 16px;
}
nav ul {
	margin:0 3rem 0 0;
	padding:0;
	list-style:none;
	display:flex;
	flex:1 0 0%;
	justify-content:space-between
}
nav ul a {
	display:block;
	padding:5px 5px;
}


main {
	max-width: 960px;
	margin: 0 auto;
}

#intro {
	min-height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	font-style: italic;
}

#intro div {
	border: 2px solid rgba(143,45,86);
  padding-left: 20px;
  padding-right: 20px;
}

#clips,
#graphic {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 50px;
	margin-bottom: 100px;
}

#clips h2,
#graphic h2 {
	margin-top: 0;
}

.pics {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 8px;
}

.pics img {
	width: 100%;
	position: relative;
}


.spring {
	transform: rotate(-10deg);
	left: -5px;
	z-index: 20;
}

.whisky {
	z-index: 5;
	transform: rotate(-30deg);
}

.tempo{
	transform: rotate(10deg);
	right: -10px;
	top: 0px;
	z-index: 10;
}

.abby{
	top: -50px;
	z-index: 15;
	transform: rotate(20deg);
}

.punkd{
	transform: rotate(-10deg);
	left: 5px;
	z-index: 20;
}

.neon{
	z-index: 5;
	transform: rotate(10deg);
	left: -30px;
}

.blue{
	transform: rotate(10deg);
	right: 10px;
	top: -20px;
	z-index: 10;
}

.astrology{
	top: -50px;
	z-index: 15;
	transform: rotate(20deg);
}

#video{
	display: grid;
	grid-template-columns: 1fr;
	margin-bottom: 100px;
}

footer{
	display: flex;
	justify-content: center;
	align-items: center;
}

footer ul{
	display: inline-flex;
	list-style: none;
	margin-top: 30px;
}

#insta{
	position: relative;
	left: -20px;
}

#facebook{
	position: relative;
	right: -20px;
}

#hi{
	display: grid;
	grid-template-columns: .8fr .2fr;
	grid-gap: 32px;
	margin-top: 70px;
}

#bio{
	border: 2px solid rgba(143,45,86);
  padding-left: 20px;
	padding-right: 20px;
	background-color: rgba(143,45,86);
	color: white;
	border: 6px solid;
  border-color: white;
	padding-bottom: 10px;
	height: 620px;
}

#about{
	color: rgba(34,49,39);
	font-family: "Playfair Display", serif;
	font-size: 50px;
	margin-top: 0;
	margin-bottom: 0;
}

#headshot{
	display:grid;
	grid-template-rows: 1fr 1fr;
}

#headshot img{
 border: 6px solid;
 border-color: white;
 transform: rotate(15deg);
 top: 100px;
}

#contact{
	background-color: white;
	border: 6px solid rgba(143,45,86);
	height: 200px;
}

#contact nav ul{
	list-style: none;
}


#contact-title{
	color: rgba(34,49,39);
	font-family: "Playfair Display", serif;
	font-size: 25px;
	margin-top: 40;
	margin-bottom: 0;
	padding-left: 20px;
	padding-right: 20px;
}

#centered-text{
	display:flow-root;
	justify-content: center;
	align-items: center;
}

#grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 15px;
	margin-top: 30px;
}

#published{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 0;
	overflow: hidden;
}

figure {
	width: 320px;
	height: 320px;
	margin: 0;
	padding: 0;
	background: #fff;
}

.design {
	width: 500px;
	height: 320px;
	margin: 0;
	padding: 0;
	background: #8f2d56;
	overflow: hidden;
}

.hover12 figure {
	background: #8f2d56;
}

.hover12 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover12 figure:hover img {
	opacity: .2;
}

.awards{
display:flex;
justify-content: center;
align-text: center;
}

.hover12 #published a {
	border: 1px solid #ccc;
	width: 320px;
	height: 320px;
	display: inline-block;
	overflow: hidden;
	position: relative;
}


.hover12 a h3 {
	position: absolute;
	bottom: -200px;
	transition: bottom 1s ease-in;
	margin-left: 10px;
	overflow: hidden;
}

.hover12:hover a h3 {
	bottom: 0;
	transition: bottom 1s ease-in;
}

html{
	scroll-behavior: smooth;
}





/*

In HTML
<main id="resume">

IN CSS

#resume {
  display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

+---+---+---+
|   |   |   |
+---+---+---+

*/
