@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Playfair+Display&display=swap');

body{
  background-color:rgba(238,210,204);
  max-width
}

#wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

nav ul {
  padding-left: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
}

a {
  color: rgba(238,210,204);
  color: #000;
}

a:visited{
  color: rgba(34,49,39);
}

/* nav {
  position: absolute;
  top: 19px;
  left: 1000px;
  width: 100%;
} */

main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  grid-template-areas:
    "clips    pics"
    "pics2   graphic";
}

header{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: rgba(143,45,86);
  overflow: auto;
}

nav {
  float: right;
  display: inline-block;
}

article{
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  margin-top: 210px;
  margin-bottom: 500px;
  grid-column: 1 / -1;
  border: 2px solid rgba(143,45,86);
}

p
 {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  color: black;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  color: rgba(143,45,86);
}

h4{
  font-family: 'Playfair Display', serif;
}

.quote{
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  color: rgba(143,45,86);
}

.navigation{
  font-family: 'Oswald', sans-serif;
  color: rgba(211,175,173)
}

.centered-text{
  padding-top: 20px;
  margin: 0 auto;
  max-width: 800px;
}

.awards{
  padding-left: 325px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 10px;
  grid-column: 1 / -1;
}

.about{
  padding-left: 500px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  grid-column: 1 / -1;
  font-size: 70px;
  font-weight: bold;
  color: rgba(143,45,86);
}

#centered-box{
  max-width: 600px;
  margin: 0 auto;
  margin-left: 500px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
  margin-top: 0px;
  margin-bottom: 500px;
  grid-column: 1 / -1;
  border: 2px solid rgba(143,45,86);
}

.bio{
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  color: black;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
  grid-gap: 20px;
}
